@{
    ViewData["Title"] = "Task Added";
}

@model Mission8_Team0210.Models.ToDoList

<h2>@Model.Task has been added to the list!</h2>

<a asp-controller="Home" asp-action="Quadrants">View Incomplete Tasks</a>