@{
    ViewData["Title"] = "Remove Task";
}

@model ToDoList

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Task?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <input type="hidden" asp-for="TaskId" />
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">Cancel</a>
</form>